$color-background: #0f111a;
$color-background-section: #141824;
$color-primary: #e3e6ed;
$color-secondary: #5b585f;
$color-hightlighting3: #0097eb;
$color-hightlighting: #85a9ff;
$color-hightlighting2: #adc5ff;
$color-green: #42962d;
$color-red: #612017;
$color-yellow: #8d6333;