@use './base/colors';
@use './base/fonts';

// Components
@use './components/header';
@use './components/section';

// Styles

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Condensed', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: colors.$color-background;
    color: colors.$color-primary;
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr);
    grid-template-rows: 50px 1fr 50px 1fr 50px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "a a a"
    "b d e"
    "ba da ea"
    "c f g"
    "ca fa ga";
}